<!DOCTYPE html>
<html lang="en" xmlns:th="http://www.thymeleaf.org" xmlns:sec="http://www.w3.org/1999/xhtml">
<header th:fragment="header">
    <nav class="main-header navbar navbar-expand-lg navbar-light bg-light">
        <div class="container">
            <a class="navbar-brand fw-bold" href="/">¡PARA CASA!</a>
            <button class="navbar-toggler" type="button" data-bs-toggle="collapse" data-bs-target="#navbarSupportedContent" aria-controls="navbarSupportedContent" aria-expanded="false" aria-label="Toggle navigation">
                <span class="navbar-toggler-icon"></span>
            </button>
            <div class="collapse navbar-collapse" id="navbarSupportedContent">
                <ul class="navbar-nav ms-auto mb-2 mb-lg-0">
                    <li class="nav-item">
                        <a class="nav-link" th:classappend="${currentPage == 'home'} ? 'active'" aria-current="page"
                           href="/">Home</a>
                    </li>
                    <li class="nav-item dropdown">
                        <a class="nav-link dropdown-toggle" th:classappend="${currentPage == 'products'} ? 'active'" href="/product" id="navbarProductsDropdown" role="button" data-bs-toggle="dropdown" aria-expanded="false">
                            Productos
                        </a>
                        <ul class="dropdown-component" aria-labelledby="navbarProductsDropdown">
                            <li><a class="dropdown-item" href="/product">Ver todos</a></li>
                            <li sec:authorize="hasRole('ADMIN')"><a class="dropdown-item" href="/product/create">Nuevo Producto</a></li>
                        </ul>
                    </li>
                    <li class="nav-item dropdown">
                        <a class="nav-link dropdown-toggle"  th:classappend="${currentPage == 'menus'} ? 'active'" href="/menus" id="navbarMenuDropdown" role="button" data-bs-toggle="dropdown" aria-expanded="false">
                            Menús
                        </a>
                        <ul class="dropdown-component" aria-labelledby="navbarMenuDropdown">
                            <li><a class="dropdown-item" href="/menus">Ver todos</a></li>
                            <li sec:authorize="hasRole('ADMIN')"><a class="dropdown-item" href="/menu/create">Nuevo Menú</a></li>
                        </ul>
                    </li>
                    <li class="nav-item nav-item--orders">
                        <a class="nav-link position-relative"  th:classappend="${currentPage == 'orders'} ? 'active'" href="/pedidos" tabindex="-1" aria-disabled="true">
                            Pedidos
                        </a>
                    </li>
                    <li class="nav-item nav-item--orders">
                        <form action="#" th:action="@{/logout}" method="POST">
                            <input type="submit" value="Logout">
                        </form>
                    </li>
                </ul>
            </div>
        </div>
    </nav>
</header>
